.eventlog-entry.eventCategory-Administration {
  font-size: 10px;
  border-right-width: 4px;
  filter: opacity(0.5);
  transition: all 250ms;
}

.eventlog-entry.eventCategory-Administration:hover {
  filter: opacity(1);
  font-size: 18px;
}

.eventlog-entry.administration-removed-content {
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
}

/******************************************************************************************
* Message Removal
******************************************************************************************/

.eventlog-entry.eventSubCategory-MessageRemoval .meta {
  margin-top: 3px;
  border: 1px solid rgb(100, 100, 100);
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
  font-size: 70%;
}

.eventlog-entry.eventSubCategory-MessageRemoval:hover .meta {
  max-height: 200px;
}
