

#toggleConfig {
    display: none;
  }

  #toggleConfig:checked ~ form {
    display: none;
  }

  #toggleConfig:not(:checked) ~ .toggleConfig::after {
    content: '  \1401';
    font-size: 15px;
  }

  #toggleConfig:checked ~ .toggleConfig::after {
    content: '  \1405';
    font-size: 15px;
  }

  .toggleConfig {
    user-select: none;
    font-size: 20px;
    background-color: rgb(100, 100, 100);
    padding: 8px;
    border: 1px solid rgb(200, 200, 200);
    display: inline-block;
  }

  #toggleConfig:checked ~ .toggleConfig {
    margin-bottom: 20px;
  }

  #commandName {
    display: inline-flex;
  }

  .row {
    display: inline-flex;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form label {
    min-width: 150px;
  }

  input[type='text'],
  textarea {
    color: rgb(177, 177, 177);
    background-color: rgb(82, 82, 82);
    border: 1px solid white;
  }
