#eventLog {
    display: flex;
    flex-direction: column-reverse;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .eventlog-entry {
    position: relative;
    font-size: 18px;
    vertical-align: middle;
    padding: 5px;
    margin-bottom: 6px;
    padding-right: 20px;
    max-height: 500px;
    transition: all 1s;
  }

  .eventlog-entry span.connectTarget {
    font-size: 12px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #fffb7e;
    text-shadow: 1px 1px 3px #000000;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 33%);
  }

  .eventlog-entry img {
    width: 24px;
    vertical-align: middle;
  }
