html {
  background: rgb(20, 20, 20);
  color: rgb(228, 228, 228);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 3px;
}

#content {
  max-width: 600px;
  margin: 0 auto;
}

#content header {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(200, 200, 200);
}

#content header img {
  margin-right: 15px;
}

#content header .title {
  font-size: 40px;
}

/******************************************************************************************
* EventLog Header
******************************************************************************************/

#eventLog-header {
  display: flex;
}

#eventLog-header > div {
  flex: 1;
  text-align: right;
  align-self: end;
  justify-content: flex-end;
  padding-bottom: 6px;
}

#totalEstimatedValued {
  display: inline-block;
}

/******************************************************************************************
* Monetization
******************************************************************************************/

.eventlog-entry.eventCategory-Monetization:before {
  content: ' ';
  border: 1px solid rgb(255, 208, 0);
  box-shadow: inset 0 0 26px rgb(255 208 0 / 40%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
