.eventlog-entry.platform-twitch {
  border: 1px solid #29075c;
  border-left: 10px solid #29075c;
  background-color: #0f0816;
  color: #ededed;
}

.eventlog-entry.platform-twitch a {
  color: #3baac3;
  text-decoration: none;
}
.eventlog-entry.platform-twitch a:hover {
  color: #bbc349;
  text-decoration: underline;
}

.eventlog-entry.platform-twitch.platform-event-action:before {
  content: ' ';
  border: 1px solid rgb(79 53 118);
  box-shadow: inset 0 0 26px rgb(79 53 118 / 60%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.eventlog-entry.platform-twitch.platform-event-join,
.eventlog-entry.platform-twitch.platform-event-part {
  font-size: 10px;
  border-left: 4px solid #29075c;
  filter: opacity(0.5);
  transition: all 250ms;
}

.eventlog-entry.platform-twitch.platform-event-join:hover,
.eventlog-entry.platform-twitch.platform-event-part:hover {
  filter: opacity(1);
  font-size: 18px;
}

.eventlog-entry.platform-twitch span.userName,
.eventlog-entry.platform-twitch span.userName {
  color: #ca7ff9;
}
